body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.flag{
    background-color: white;
    width: 400px;
    height: 300px;
    position: relative
}

.circle{
    background-color: red;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}